<a href="https://colab.research.google.com/github/Camicb/Statistics-w-python-Coursera/blob/master/c2week1_assig.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
def integers(x):
    x=-x
    return x

In [4]:
#Test with x=4
integers(4)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [5]:
def get_min(x):
    current_min = x[0]
    for i in x[1:]:
        if i < current_min:
            current_min = i
    return current_min

In [6]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]
a=get_min(lst)

# Create you own input list to test with
lista= [-100, 3, 5, 7897, -45]
b=get_min(lista)
print(a)
print(b)

-3
-100

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [7]:
import numpy as np
import pandas as pd

"""
Normalization is a scaling technique in which values are shifted and rescaled so that they end up 
ranging between 0 and 1. It is also known as Min-Max scaling.

Formula:X'=(X-Xmin)/(Xmax-Xmin)

*With scikit-learn is easier

"""
def scale(lst):
    for i in lst:
        lst = [i - np.min(lst) for i in lst]
        newlst = [i / np.max(lst) for i in lst]
    return newlst

lst1 = [1, 2, 3]
lst2 = [2, 4, 5]

str1 = 'one'
str2 = 'two'

df = pd.DataFrame({str1:scale(lst1), str2:scale(lst2)})
df

   one       two
0  0.0  0.000000
1  0.5  0.666667
2  1.0  1.000000

In [8]:
# test your challenge problem function
import numpy as np

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'
df = pd.DataFrame({str1:scale(lst1), str2:scale(lst2)})
df

         one     alpha
0   0.162393  0.852895
1   0.611111  0.314554
2   0.582906  0.763693
3   0.956410  0.000000
4   0.637607  0.657277
..       ...       ...
95  0.666667  0.312989
96  0.330769  0.697966
97  0.128205  0.719875
98  0.660684  0.929577
99  0.747009  0.602504

[100 rows x 2 columns]